{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Product
{% endblock title %}


<body>
    <div class="row">
        {% block content %}
            {%if user.is_staff %}
                <div class="container">
                    <h1 class="mt-4">Products</h1>
                    
                    <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Products Category</h5>
                        <div class="d-flex justify-content-center gap-4">
                        <a href="{% url 'product:productcategory_list' %}" class="btn btn-primary w-50">See Categories</a>
                        <a href="{% url 'product:productcategory_create' %}" class="btn btn-primary w-50">Categories create</a>
                        </div>
                    </div>
                    </div>
                </div>
            {% endif %}
            <div class="row gx-4 gx-lg-5 justify-content-center">
                {% for product in products %}
                {%include 'product/display_list.html' with product=product %}
                {% endfor %}
            </div>
        {% endblock content %}
        <div class="col-lg-4">
            {% block pagination %}
                <!-- Search widget-->
                {% include 'core/search.html'%}
            
                <!-- Categories widget-->
                {% include 'core/cloth.html'%}

            {% endblock pagination %}
        </div>
    </div>
</body>

