{% extends 'core/base.html' %}


{% block content %}
    <h2>CLIENT</h2>
    <h3>client: List</h3>

    <table border="1">
        <thead>
            <th>Name</th>
            <th>Last Name</th>
            <th>Date of birth</th>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    {% if cliente.nacimiento %}
                        <td>{{ cliente.nacimiento }}</td>
                    {% else %}
                        <td>Sin registro</td>
                    {% endif %}
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <button><a href="{% url 'cliente:index' %}">Atrás</a></button>    
{% endblock content %}