{% extends 'core/base.html' %}

{% block title %}
    Client | Home
{% endblock title %}


{% block content %}
    
<h2>CLIENTE</h2>

    <div>

        <button><a href="{% url 'cliente:pais_list' %}">Country List</a></button>
        <button><a href="{% url 'cliente:cliente_list' %}">Client List</a></button>
        <button><a href="{% url 'cliente:cliente_create' %}">Create client</a></button>

    </div>
    <div>
        <button><a href="{% url 'core:index' %}">Home</a></button>    
    </div>
    
{% endblock content %}