{%load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'core/assets/logo.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        {%include 'core/navbar.html' %}
        <!-- Page content-->
        <div class="container mt-5">
            {% block title %}
            
            {% endblock title %}
            {% block content %}

            {% endblock content %}

            {% block pagination %}
            {% endblock pagination %}
        
            {% include 'core/footer.html'%}
    </body>
</html>
