<div class="card mb-4">
    <div class="card-header">Categories</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <ul class="category-list">
                    <li>
                        <a href="#!">Men's Clothing:</a>
                            <ul class="subcategory-list"> 
                                <li><a href="#!">Casual Wear</a></li>
                                <li><a href="#!">Formal Wear</a></li>
                                <li><a href="#!">Activewear</a></li>
                                <li><a href="#!">Outerwear</a></li>
                                <li><a href="#!">Accessories</a></li>
                            </ul>
                    </li>
                    <li>
                        <a href="#!">Women's Clothing:</a>
                            <ul class="subcategory-list"> 
                                <li><a href="#!">Dresses</a></li>
                                <li><a href="#!">Tops</a></li>
                                <li><a href="#!">Bottoms</a></li>
                                <li><a href="#!">Activewear</a></li>
                                <li><a href="#!">Outerwear</a></li>
                                <li><a href="#!">Accessories</a></li>
                            </ul>
                    </li>
                    <li>
                        <a href="#!">Kid's Clothing:</a>
                            <ul class="subcategory-list"> 
                                <li><a href="#!">Boy´s Apparel</a></li>
                                <li><a href="#!">Girl´s Apparel</a></li>
                                <li><a href="#!">Bbay Clothing</a></li>
                            </ul>
                    </li>                                  
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!">Footwear:</a>
                            <ul class="subcategory-list"> 
                                <li><a href="#!">Men´s Shoes</a></li>
                                <li><a href="#!">Women´s Shoes</a></li>
                                <li><a href="#!">Kid´s Shoes</a></li>
                                <li><a href="#!">Athletic Shoes</a></li>
                                <li><a href="#!">Sandals</a></li>
                            </ul>
                    </li>
                    <li>
                        <a href="#!">Seasonal Collections:</a>
                            <ul class="subcategory-list"> 
                                <li><a href="#!">Spring/Summer Collection</a></li>
                                <li><a href="#!">Fall/Winter Collection</a></li>
                                <li><a href="#!">Holiday Specials</a></li>
                            </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>