<div class="card mb-4">
    <div class="card-header">Categories</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <ul class="category-list">
                    <li>
                        <a href="{% url 'product:index' %}">Men's Clothing:</a>
                            <ul class="subcategory-list"> 
                                <li><a href="{% url 'product:index' %}">Casual Wear</a></li>
                                <li><a href="{% url 'product:index' %}">Formal Wear</a></li>
                                <li><a href="{% url 'product:index' %}">Activewear</a></li>
                                <li><a href="{% url 'product:index' %}">Outerwear</a></li>
                                <li><a href="{% url 'product:index' %}">Accessories</a></li>
                            </ul>
                    </li>
                    <li>
                        <a href="{% url 'product:index' %}">Women's Clothing:</a>
                            <ul class="subcategory-list"> 
                                <li><a href="{% url 'product:index' %}">Dresses</a></li>
                                <li><a href="{% url 'product:index' %}">Tops</a></li>
                                <li><a href="{% url 'product:index' %}">Bottoms</a></li>
                                <li><a href="{% url 'product:index' %}">Activewear</a></li>
                                <li><a href="{% url 'product:index' %}">Outerwear</a></li>
                                <li><a href="{% url 'product:index' %}">Accessories</a></li>
                            </ul>
                    </li>
                    <li>
                        <a href="{% url 'product:index' %}">Kid's Clothing:</a>
                            <ul class="subcategory-list"> 
                                <li><a href="{% url 'product:index' %}">Boy´s Apparel</a></li>
                                <li><a href="{% url 'product:index' %}">Girl´s Apparel</a></li>
                                <li><a href="{% url 'product:index' %}">Bbay Clothing</a></li>
                            </ul>
                    </li>                                  
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="{% url 'product:index' %}">Footwear:</a>
                            <ul class="subcategory-list"> 
                                <li><a href="{% url 'product:index' %}">Men´s Shoes</a></li>
                                <li><a href="{% url 'product:index' %}">Women´s Shoes</a></li>
                                <li><a href="{% url 'product:index' %}">Kid´s Shoes</a></li>
                                <li><a href="{% url 'product:index' %}">Athletic Shoes</a></li>
                                <li><a href="{% url 'product:index' %}">Sandals</a></li>
                            </ul>
                    </li>
                    <li>
                        <a href="{% url 'product:index' %}">Seasonal Collections:</a>
                            <ul class="subcategory-list"> 
                                <li><a href="{% url 'product:index' %}">Spring/Summer Collection</a></li>
                                <li><a href="{% url 'product:index' %}">Fall/Winter Collection</a></li>
                                <li><a href="{% url 'product:index' %}">Holiday Specials</a></li>
                            </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>