{%load static %}
<div class="card mb-4">
    <div class="card-header text-center">CONTACT US!</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-fluid rounded" src="{% static 'core/img/Logo.ico' %}" alt="..." />
            </div>
            <div class="col-sm-6">
                <div class="fw-bold">Whatsapp:</div>
                <a class="btn btn-success" href="https:/wa.me/59899345746" target="_blank">WhatsApp</a>
                <div class="fw-bold">Instagram:</div>
                <a class="btn btn-success" href="https://www.instagram.com/DestinyFashion305/" target="_blank">Instagram</a>
                <div class="fw-bold">Twitter/X:</div>
                <a class="btn btn-success" href="https://twitter.com/DestinyFashion305" target="_blank">Twitter/X</a>
            </div>
        </div>
    </div>
</div>